.createPostPage {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;

  }
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    padding: 20px;
    border: 3px solid rgb(255, 145, 0);
    border-radius: 5px;
  }
  
  .formContainer #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .formContainer button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: rgba(255, 145, 0, 0.646);
    border-radius: 5px;
    color: white;
  }
  
  .formContainer button:hover {
    cursor: pointer;
    background-color: rgb(255, 145, 0);
  }
  
  h1{
    text-align: center;
  }