.containerPanier{
background-color: rgb(221, 221, 221);
width: 100%;
height: auto;
position: inherit;
}

p{
    font-size: large;
}

.titlePanier{
background-color: rgb(255, 255, 255);
width: 80%;
margin: 0 auto;
margin-bottom: 4%;
padding: 0 3%;
display: flex;
justify-content: space-between;
}


hr{
    background-color: white;
    border: none;
    height: 3px;
    width: 60%;
    margin: 2px auto;

}

.cart{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 2% 80px;
    border: solid 2px rgb(255, 149, 0);
}

.leftCartPanier{
    width: 30%;
    background-image: url("../assets/ball.png");
    background-size: 100%;
    border-right: solid 2px rgb(255, 149, 0);
}

.rightCartPanier{
    width: 70%;
    background-color: rgb(173, 173, 173);
}

.footerPanier{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 0 80px;
    padding: 0 6%;
}

.btnPanier > button{
    background-color: rgb(255, 149, 0);
    padding: 10px;
    margin: 10px;
    width: 200px;
    float: right;
}