/** CSS DE ZOOMPOST **/
.postPageProfil{
    background-color: rgb(221, 221, 221);
display: flex;
height: auto;
width: 80%;
margin: 4rem auto;
padding-left: 10%;
}
.leftSideProfil{
    background-image: url("../assets/usercurry.png");
    background-size: cover;
    width: 40%;
    margin-left: 10%;
    margin: 30px 0;
    border: solid 2px rgb(255, 149, 0);
    border-right: none;
}